# Telegram user account API credentials from https://my.telegram.org
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Private notification bot and administrator Telegram numeric user ID
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_USER_ID=

# Gemini API
GEMINI_API_KEY=
